<mat-form-field appearance="outline" class="full-width">
  <input [formControl]="form.controls.name" matInput (keyup)="applyFilter('name', form.controls.name.value)" placeholder="Search countries by name" />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-select [formControl]="form.controls.subregion" (selectionChange)="applyFilter('subregion', $event.value)" [value]="''">
    <mat-option [value]="''">Any {{'subregion'}}</mat-option>
    <mat-option *ngFor="let value of subregions" [value]="value">{{value}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-select [formControl]="form.controls.currencies" (selectionChange)="applyFilter('currencies', $event.value)" [value]="''">
    <mat-option [value]="''">Any {{'currencies'}}</mat-option>
    <mat-option *ngFor="let value of currencies" [value]="value">{{value}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-select [formControl]="form.controls.languages" (selectionChange)="applyFilter('languages', $event.value)" [value]="''">
    <mat-option [value]="''">Any {{'languages'}}</mat-option>
    <mat-option *ngFor="let value of languages" [value]="value">{{value}}</mat-option>
  </mat-select>
</mat-form-field>

<button *ngIf="dataSource.filter.length" mat-flat-button (click)="resetFilter()">Reset</button>

<div class="panel">
  <span>Showing {{dataSource.filteredData.length}} countries</span>
  <span class="reload-button">
    <button mat-icon-button [ngClass]="{'loading': loading}" (click)="reload()">
      <mat-icon>autorenew</mat-icon>
    </button>
  </span>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element">
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="'subregion'">
          <ng-container *ngIf="element[column] as value">
            <button mat-stroked-button color="primary" (click)="selectPill('subregion', value)">{{value}}</button>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'currencies'">
          <ng-container *ngFor="let item of element[column]">
            <button mat-stroked-button color="primary" (click)="selectPill('currencies', item.name)">{{item.name}}</button>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'languages'">
          <ng-container *ngFor="let item of element[column]">
            <button mat-stroked-button color="primary" (click)="selectPill('languages', item.name)">{{item.name}}</button>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>{{element[column]}}</ng-container>
      </ng-container>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
